<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phantomrealm.scorecard"
    android:versionCode="1"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.NewGameActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.ScorecardActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.PlayersActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.EditPlayerActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.ChoosePlayersActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.CoursesActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.EditCourseActivity" />
        <activity
            android:name="com.phantomrealm.scorecard.presenter.activity.ChooseCourseActivity" />
    </application>

</manifest>